server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/locomotive1584/ProyectoTingeso2-02-2025.git
          search-paths: "backend/config-data"
          username: ${GITHUB_USERNAME:locomotive1584}
          password: ${GITHUB_TOKEN}